body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#generatedUrl {
    margin-top: 20px;
    word-break: break-all;
}

.preview {
    white-space: pre-wrap;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.buttons {
    text-align: center;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 10px;
}

.gap {
    display: block;
    height: 10px; /* Adjust this value for the desired gap */
  }
  